# Documentación
HELP.md

# Archivos de compilación
target/
build/

# No ignorar Maven Wrapper jar
!.mvn/wrapper/maven-wrapper.jar

# No ignorar targets o builds dentro de src
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# Ignorar carpetas específicas dentro de uploads
uploads/vendedores/
uploads/productos/

# Mantener productos precargados en el repositorio
!uploads/productosprecargados/
!uploads/productosprecargados/**

# IDEs
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
.env
docker-compose.override.yml

# Maven extra
.mvn/timing.properties
