@import "tailwindcss";

/* Contenedor principal */
.animated-border-container {
  
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 2px; 
  border-radius: 12px;
  isolation: isolate;
  /* Transición para que el escalado sea suave */
  transition: transform 0.3s ease;
  cursor: pointer;
}

/* 1. El borde de color (el gradiente) */
.animated-border-container::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: conic-gradient(
    from 45deg,
    transparent, 
    #581c87, 
    #a855f7, 
    #f97316, 
    #9a3412, 
    transparent 60%
  );
  z-index: -2;
  /* Transición para el cambio de tamaño del gradiente */
  transition: transform 0.5s ease;
}

/* 2. El Resplandor (Glow) */
.animated-border-container::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #a855f7; 
  filter: blur(15px);
  opacity: 0.3; /* Opacidad normal */
  z-index: -1;
  /* Transición para el brillo */
  transition: opacity 0.3s ease, filter 0.3s ease;
}


.animated-border-container:hover {
  transform: scale(1.1);
}

/* El gradiente interno gira un poco o se expande */
.animated-border-container:hover::before {
  transform: rotate(15deg) scale(1.1);
}

/* El resplandor se vuelve más fuerte y nítido */
.animated-border-container:hover::after {
  transform: rotate(15deg) scale(2);
  opacity: 0.7; /* Más brillo */
  filter: blur(20px); /* Aura más grande */
}

.content {
  color: white;
  padding: 15px 25px;
  border-radius: 10px;
  display: block;
  position: relative;
  z-index: 1;
  transition: background 0.3s ease;
}


.footer-content {
  position: relative;
  z-index: 10;
  background: black;
  /* Para tapar el centro del gradiente */
  width: 100%;
  height: 100%;
}

/* La capa interna para tapar el centro y que solo se vea el borde */
.animated-border-inner {
  position: relative;
  background: #18181b;
  /* zinc-900 */
  border-radius: inherit;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #f59e0b;
}
.custom-scrollbar.scrolling::-webkit-scrollbar-thumb {
  background: #f59e0b;
}


@keyframes bounce-short {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-3px); }
}

.animate-bounce-short {
  animation: bounce-short 0.5s ease-in-out 1;
}